@media only screen and (max-device-width: 650px) {
  .services {
    background-color: #fff;
    padding-bottom: 0;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 0px;
  }

  .services h2 {
    display: none;
  }

  .services div {
    display:table-row;
    width: 90%;
  }
}
