.App-footer {
  background-color: #2c313f;
  color: white;
  font-size: 30px;
  padding-bottom: 30px;
  padding-top: 1px;
}

.App-footer a {
  color: #fff;
  font-size: 24px;
}

.App-footer a:hover {
  font-size: 26px;
}
