.blog {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  opacity: .9;
  padding-top: 30px;
}

.blog p {
  margin-bottom: 0;
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 40px;
  padding-left: 200px;
  padding-right: 200px;
}

.blog a {
  color: #efa700;
}

.blog a:hover {
  color: #f2f2f2;
}
