@media only screen and (max-device-width: 650px) {
  .blog {
		background-size: 0;
	}

	.blog p {
		color: #7a7c84;
		margin-left: 0;
		margin-right: 0%;
		padding: 12px;
	}

  .blog h2 {
		color: #7a7c84;
	}

  .blog a {
		color: #2c313f;
	}

  .blog a:hover {
    color: #efa700;
  }
}

@media only screen and (max-device-width: 768px) {
	.blog p {
		padding-left: 0;
		padding-right: 0;
	}
}
