@media only screen and (max-device-width: 650px) {
  .book {
		padding: 12px;
	}

  .book p {
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
	}

	.book img {
		padding-top: 12px;
		width: 90%;
	}

  .button, .book .button {
		display: none;
	}
}

@media only screen and (max-device-width: 768px) {
	.book p {
		padding-left: 10px;
		padding-right: 10px;
	}
}
