.book {
  padding-bottom: 30px;
  padding-top: 10px;
}

.book p {
  padding-bottom: 10px;
  padding-left: 200px;
  padding-right: 200px;
}

.book .button {
  display: table;
  margin: auto;
  padding-bottom: 0;
  padding-left: 19.5px;
  padding-right: 19.5px;
  padding-top: 5px;
}

.book img {
  padding-top: 30px;
  width: 30%;
}

.book img:hover {
  transform: scale(1.1);
}
