.book {
  padding-bottom: 30px;
  padding-top: 10px;
}

.book p {
  padding-bottom: 10px;
  padding-left: 200px;
  padding-right: 200px;
}

.book img {
  padding-top: 30px;
  width: 30%;
}

.book img:hover {
  transform: scale(1.1);
}
