@media only screen and (max-device-width: 650px) {
  .speaches {
    align-content: center;
    background-color: #fff;
    padding: 12px;
  }

  .speaches div {
    margin: auto;
    width: 90%;
    padding: 0;
  }

  .speaches .left {
    margin-bottom: -26px;
  }
}
