.speaches {
  background-color: #f2f2f2;
  padding-bottom: 30px;
  padding-top: 6px;
}

.speaches div {
  background-color: #fff;
  border-radius: 5%;
  display: inline-block;
  vertical-align: text-top;
  width: calc(90% / 2);
}

.speaches div:not(:last-child) {
  margin-right: 20px;
}

.speaches h3 {
  text-transform: none;
}
